{{ ansible_managed | comment }}


{% for proto in rsyslog_listener_proto %}
# Accept remote logs over {{ proto }}
module(load="im{{ proto }}")
input(
  type="im{{ proto }}"
  port="{{ rsyslog_listener_port }}"
)
{% endfor %}

{% for tmpl in rsyslog_templates | default([]) %}
# Template: {{ tmpl.name }}
{% if tmpl.type == 'list' %}
template(name="{{ tmpl.name }}" type="list") {
{% for prop in tmpl.properties | default([]) %}
  {{ prop }}
{% endfor %}
}
{% elif tmpl.type == 'string' %}
template(name="{{ tmpl.name }}" type="string" string="{{ tmpl.properties }}")
{% endif %}

{% for act in tmpl.action | default([]) %}
{{ act.selector }} action(
  type="{{ act.type }}"
{% for key, value in act.options.items() %}
  {{ key }}="{{ value }}"
{% endfor %}
)
{% endfor %}
{% endfor %}

{% if rsyslog_forward_enable | default(false) %}
# Forward raw syslog to Vector over {{ rsyslog_forward_protocol | upper }}
*.* action(
  type="omfwd"
  target="{{ rsyslog_forward_target }}"
  port="{{ rsyslog_forward_port }}"
  protocol="{{ rsyslog_forward_protocol }}"
  TCP_Framing="octet-counted"
  KeepAlive="on"
  ResendLastMSGOnReconnect="on"
)
{% endif %}
